.table {
  thead {
    height: 40px;
    box-shadow: inset 0 1px 0 0 var(--light-periwinkle);
    background-color: var(--pale-grey);
    th {
      font-size: 13px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.38;
      letter-spacing: normal;
      color: var(--bluey-grey);
    }
  }
  tbody {
    .data-notfound {
      color: var(--bluey-grey);
    }
    td {
      font-size: 14px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.43;
      letter-spacing: normal;
      color: var(--dark-grey);
    }
  }
  &-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;

    .csv-button {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 153px;
      height: 32px;
      border-radius: 2px;
      border: solid 1px #ceced2;
      background-image: linear-gradient(to bottom, #fbfbfd, #f5f5fa);
      font-size: 14px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.43;
      letter-spacing: normal;
      text-transform: none;
      color: var(--clear-blue);
      .icon {
        margin-right: 4px;
      }
    }
    .csv-button:hover {
      background-image: linear-gradient(to bottom, #f0efef, #eeeeff);
    }
  }
}
.table-search {
  input {
    text-indent: 40px;
    background-image: url(../assets/icon/ico-search.svg);
    background-repeat: no-repeat;
    background-position-x: 8px;
    background-position-y: center;
  }
}

@media (max-width: 801px) {
  .table-header {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .table-search {
    input {
      width: 100%;
    }
    a.csv-button {
      width: 100%;
    }
  }
}

.badge {
  height: 24px;
  border-radius: 2px;
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  &_success {
    border: solid 1px #3cc13b;
    background-color: rgba(60, 193, 59, 0.1);
    color: #3cc13b;
  }
  &_failed {
    border: solid 1px #f03738;
    background-color: #fdebeb;
    color: var(--pale-red);
  }
  &_warning {
    border: solid 1px #f3bb1c;
    background-color: rgba(243, 187, 28, 0.1);
    color: #e8ac00;
  }
}
.base {
  width: 320px;
  height: 32px;
  border-radius: 2px;
  border: solid 1px #ceced2;
  background-color: var(--color-white);
}

.page {
  display: flex;
  justify-content: flex-end;
  height: 48px;
  &_content {
    display: flex;
    align-items: center;
    width: 402px;
    height: 100%;
    label {
      display: flex;
      align-items: center;
      margin-right: 27px;
      margin-bottom: 0;
      padding: 0;
      font-size: 14px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.43;
      letter-spacing: normal;
      color: var(--dark-grey);
    }
    select {
      padding-right: 10px;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      border-style: none;
      font-size: 14px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.43;
      letter-spacing: normal;
      text-align: right;
      color: var(--dark-grey);
      background-color: white;
      background-image: url('../assets/icon/ico-arrow-dropdown2.svg');
      background-repeat: no-repeat;
      background-position-x: right;
      background-position-y: center;
    }
  }
  &_range {
    padding-left: 32px;
  }
}
@media (max-width: 810px) {
  .table-body {
    width: 500px;
  }
}
@media (max-width: 415px) {
  li.item-link {
    a {
      text-align: center;
    }
  }
  .page {
    height: 90px;
    &_content {
      flex-direction: column;
      text-align: center;
      label {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-right: 0;
        margin-top: 5px;
      }
    }
    &_range {
      padding: 0;
    }
  }
}
.page-ico {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 120px;
  height: 100%;
  a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
  }
  a.disable {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    pointer-events: none;
  }
}
